

1. Header and logo should be present.

2. There should be a input box that user can use that to add todo list

3. Todo List Edit 

4. Todo List  Delete 

5. Todo List  Completed

6. Articles and todo list should be present once todo list entered by user.

7. You should be able to select one or more rows.  Multiple selected rows can be deleted at once using the 'Delete Selected' button.


