.pre-loader-body{
  background-color: #DE937A; 
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-title{
  
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.title-text1{
  color: #3D8DAE;
}

.title-text2{
  color:#ACCFCB ;
}

.title-text3{
  color: #17494D;
}