.pre-loader-body{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes gifscaling{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.3,1.3);
  }
  100%{
     transform: scale(1,1);
  }
}

.gif-img{
  width: 200px;
  height: 200px;
  animation-name: gifscaling;
  animation-duration: 3s;
}

::-webkit-scrollbar {
  display: none; 
}

.todo-title{
  margin-top: 20px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  animation-name: gifscaling;
  animation-duration: 3s;
}

/* ------------------------------------------------------------ */

.todo-mainpage{
   background-color: black;
  height: 100%;

}

.header-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-quote{
  font-size: 30px;
  font-style: italic;
  color: black;
  position: relative;
  animation-name: qoute;
  animation-duration: 2s;
}

@keyframes qoute{
  0%{
    top:100px
  }
  50%{
    top:0px
  }
  75%{
    top:10px
  }
  100%{
    top:0px
  }
}

.todo-gif-div{
  margin-right:30px;
}

.todo-gif-img{
  width: 250px;
  height:250px;
}

/* --------------------------------------------------------------------- */

.todo-inputbox{
  width:500px;
  height: 50px;
 
  /* background-color: #BE89FF; */
  background-color: #002b53;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  color:white;
  border: 1px solid gray;
}

.todo-inputbox::placeholder{
  color: white;
  opacity: 0.7;
}

.todolist-addbutton:hover{
  cursor: pointer;
}

.greyBg{
  background-color: gray !important;
  color: lightgray !important;
  border: 1px solid gray !important;
  opacity: 0.3;
}

.greyBg:hover{
 cursor: default;
}

/* ----------------------------------------------------------------- */

.notask-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  padding: 27px;
}

.notask-title{
    font-size: 20px;
    font-style: italic;
    color: whitesmoke;
  }

.allTodoList-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}

.list-div{
  background-color: #002b53;
  border-radius: 2px;
}

.grayBg{
  background-color: gray;
}

.listname-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding-left: 20px;
}

.checkbox-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.list-title-div{
  margin-left:10px;
}

.list-title{
  font-size: 20px;
  font-weight: normal;
  color: white;

}

.edit-inputbox{
  height: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.strikestyle {
  text-decoration: line-through;
  font-style: italic;
}

.para-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.done{
  font-size: 20px;
  margin-right: 10px;
  color: white;
}

.done:hover{
  cursor:pointer;
}

.edit{
font-size: 20px;
  margin-right: 10px;
  color: white;
}

.edit:hover{
  cursor:pointer;
}

.edit-okbutton{
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  width: 30px;
  background-color: black;
  color: white;
  border: none;
}

.edit-okbutton:hover{
  cursor: pointer;
}

.edit-cancelbutton{
  height: 25px;
  width: 60px;
  background-color: black;
  color: white;
  border: none;
}

.edit-cancelbutton:hover{
  cursor: pointer;
}

.delete{
  font-size: 20px;
  margin-right: 10px;
  color: white;
}

.delete:hover{
  cursor:pointer;
}

.removeAll-button:hover{
  cursor: pointer;
}

.removeAll-disabledbutton:hover{
  cursor: default;
}

/* --------------------------------------------------------------------- */

.article-heading{
  padding: 30px;
}

.article-div{
  width: 100%;
  display: flex;
  justify-content: center;
}

pre{
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}

.accordion-button{
  background-color: gray !important;
  color:black !important;
  font-size:20px !important
}

.accordion-item{

 border: 1px solid gray !important; 

}

.accordion-body{
  background-color: black !important;
  color: white !important;
}